<mat-form-field class="form-group-field">
  <p>Find User</p>

  <mat-form-field class="form-group-field">
    <mat-label>User</mat-label>
    <input
      type="text"
      placeholder="Pick a User"
      aria-label="User"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.label"
        (onSelectionChange)="onSelectionChange(option)"
      >
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>
    <button
      *ngIf="selectedUser"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="myControl.setValue(''); selectedUser.emit(undefined)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-button-toggle-group
      name="queryOptions"
      [value]="filterBy"
      (change)="changeFilterBy($event)"
      matSuffix
    >
      <mat-button-toggle value="name">Name</mat-button-toggle>
      <mat-button-toggle value="email">E-mail</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-form-field>
</mat-form-field>
